<footer class="text-muted">
  <div class="container">
    <p class="float-right">
      <%= link_to "View All Portfolio Items", portfolios_path %> / 
      <a href="#">Back to top</a>
    </p>
    <p>
      <p>&copy; <%= Time.now.year %> | <b>Michael Insalaco</b> All rights reserved</p>
    </p>
  </div>
</footer>