<h1>About Me</h1>

<div class="row">
  <div class="col-md-4">
    <%= image_tag 'profile.png', width: 300, style: "border: 1px solid white;" %>
  </div>
  <div class="col-md-8 text-left" style="padding-left: 20px;">
    <p class="">Effective communication among clients and application developers is paramount in delivering
    a successful product on time and budget. Each stage of the development lifecycle 
    </p>
    <p>
      Project management
    </p>
  </div>
</div>