<div class="inner cover">
  <h1 class="cover-heading">Hello!</h1>
  <p class="lead">As a passionate Ruby on Rails developer, UX designer & Project Manager, I'm seeking opportunities to use my skills to add value to your company.</p>
  <p class="lead">
    <%= link_to "About Me", about_path, class: "btn btn-lg btn-secondary" %>
  </p>
</main>
